{%extends 'base_template.html'%}

{%block title %}Sign up{%endblock%}

{%block content%}
<h1 align="center"> Sign up </h1>

<form class="container" method="POST">
  <div class="form-control">
    <br /><div class="input-group">
      <span class="input-group-text"><strong>First and last name</strong></span>
      <input class="form-control" name="firstname"
	     type="text"
	     placeholder="Enter your first name"
	     id="firstname"
	     aria-label="First name">
      <input class="form-control" name="lastname"
	     type="text"
	     placeholder="Enter your last name"
	     id="lastname"
	     aria-label="lastname">
    </div>

    <br />
    <div class="input-group">
      <span class="input-group-text"><strong>Email and username</strong></span>
      <input class="form-control" name="email"
	     type="email"
	     placeholder="Enter email"
	     id="email"
	     aria-label="email">
      <input class="form-control" name="username"
	     type="text"
	     placeholder="Enter a username"
	     id="username"
	     aria-label="username">
    </div>

    <br />
    <div class="input-group">
      <span class="input-group-text"><strong>Password</strong></span>
      <input class="form-control" name="password"
	     type="password"
	     placeholder="Enter your password"
	     id="password"
	     aria-label="password">
      <input class="form-control" name="password1"
	     type="password"
	     placeholder="Confirm password"
	     id="password1"
	     aria-label="password1">
    </div>

    <br />
    <div class="from-control" align="center"><strong>Optional Information</strong></div>

    <br />
    <span>&emsp;<strong>Sex:</strong>&emsp;</span>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="sex"
	     type="radio"
	     id="inlineRadio1"
	     value="male">
      <label class="form-check-label" for="inlineRadio1">Male</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="sex"
	     type="radio"
	     id="inlineRadio1"
	     value="female">
      <label class="form-check-label" for="inlineRadio2">Female</label>
    </div>

    <br /><br />
    <div class="input-group">
      <span class="input-group-text"><strong>Country and city</strong></span>
      <input class="form-control" name="country"
	     type="text"
	     id="country"
	     placeholder="Country name"
	     aria-label="country">
      <input class="form-control" name="city"
	     type="text"
	     placeholder="City name"
	     id="city"
	     aria-label="city">
    </div>

    <br />
    <div class="input-group">
      <span class="input-group-text"><strong>Birthday and phone number</strong></span>
      <input class="form-control" name="birthday"
	     type="date"
	     id="birthday"
	     aria-label="birthday">
      <input class="form-control" name="phone"
	     type="text"
	     placeholder="(+xxx) phone number"
	     id="phone"
	     aria-label="phone">
    </div>

    <br />
    <div align="center">
      <button class="btn btn-dark"
	      type="submit">Sign up</button>
  </div>
</form>
<br />
<p align="center">
  <em>
    Already have an account ?
    <a href="{{url_for('auth.signin')}}">
      Sign in
    </a>
  </e>
</p>
</div><br /><br /><br /><br /><br /><br /><br />

{%endblock%}
